/*impostazione della pagina*/

.container {
    max-width: 1080px;
    /*oltre questa misura non può andare*/
    margin: 0 auto;
    /*toglie i magini da sotto sopra destra e sinistra*/

}

body,
figure {
    /*mettiamo anche figure perchè altrimenti andrebbe sotto */

    margin: 0;
    /*togliamo i margini dalla pagina*/



}

#header-principale {

    height: 100px;
    background-color: aqua;
    background-image: url(../images/pattern.png);
    background-size: 30%;

}

#logo {
    height: 50px;
    /*gli abbiamo dato una gandezza di 50px*/
    margin-top: 50px;
    /*spinta da sopra verso metà*/
    /*metà della garndezza*/
}

h1 {
    font-size: 38px;
    margin-bottom: 0;
}

.testo-grigio {
    color: #808080;
}

address {
    font-style: normal;
    /*per correggere il formato pre impostato*/
}


.testo-piccolo {
    font-size: 14px;

}

a {
    text-decoration: none;
    color: aqua;
}


.altezza-tabella {
    width: 50%;
}

th {
    color: #fff;
    text-align: left;
    background-color: #fff;
}

tr {
    background-color: #b1e5f2;

}

.even {
    background-color: #fff;
}


table {
    border-collapse: collapse;
}

.related-article {}